body {
    font: 14px "Centura Gothic", Futura, sans-serif;
    margin: 2%;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 20px;
    margin-left: 18%;
    font-size: 24px;

}

.winner{
    margin-bottom: 20px;
    margin-left: 18%;
    font-size: 24px;
    color: #48a832;
}

.reset {
    margin-top: 15%;
    margin-left: 28%;
    font-size: 20px;
    font-weight: bold;
    color: #48a832;
    border: #999 2px solid;
    padding: 10%;
}

.square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
    height: 75px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

